<div class="container-fluid">
  <div class="row">
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
      <div class="form-group">

        <label for="name">Quote</label>
        <input type="text" required class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name="ngModel" required>
        Display {{newQuote.name}}
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          <p> Name is Required</p>

        </div>

      </div>
      <div class="form-group">

        <label for="username">Username</label>
        <input type="text" class="form-control" id="username"  [(ngModel)]="newQuote.username" name="username" #username="ngModel" required>
        <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
          <p> Username is Required</p>

        </div>

      </div>
      <div class="form-group">

        <label for="description">Author</label>
        <input type="text"  class="form-control" id="description"  [(ngModel)]="newQuote.description" name="description" #description="ngModel" required>
        <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
          <p> Author is Required</p>

        </div>

      </div>
      <button type="Submit" class="btn btn-primary btn-lg">Post</button>
    </form>
  </div>
</div>
