<div class="container-fluid">
  <div class="row">
    <form #quoteForm='ngForm'>
      <div class="form-group">

        <label for="name">Quote</label>
        <input type="text" required class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name="ngModel" required>
        Display {{newQuote.name}}
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          <p> Name is Required</p>

        </div>

      </div>
      <div class="form-group">

        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="4" [(ngModel)]="newQuote.description" name="description" #description="ngModel" required></textarea>
        <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
          <p> Description is Required</p>

        </div>

      </div>
      <div class="form-group">
        <label for="date">Date</label>
        <input type='date' id="date" [(ngModel)]="newQuote.postDate" name="postDate" #postDate="ngModel" required>
        <div [hidden]="postDate.valid || postDate.pristine" class="alert alert-danger">
          <p>Date is Required</p>

        </div>
      </div>
      <button type="Submit" class="btn btn-primary btn-lg">Post</button>
    </form>
  </div>
</div>
